@charset "utf-8";

/* keyframe definition */
@-webkit-keyframes fadeIn { 
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  20% { opacity: 0; }
  40% { opacity: 0.3; }
  60% { opacity: 0.5; }
  80% { opacity: 0.9; }
  100% { opacity: 1; }
}

/*
	Hospital Home CSS
*/

/* home */
#hosHomeConCo{
	background-image: url('../../images/hospital/home/7.jpg');
}

#hosHomeConLayer{
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,.6), transparent);
    background-image: -moz-gradient(top, rgba(0,0,0,.6), transparent);
    background-image: -o-linear-gradient(top, rgba(0,0,0,.6), transparent);
    background-image: -ms-linear-gradient(top, rgba(0,0,0,.6), transparent);
    background-image: linear-gradient(to bottom, rgba(0,0,0,.6), transparent);
}

#hosHomeContentCo{
	margin-top: 38vh;
}

#hosHomeContent{
	width: 80%;
	margin-left: 10%;	
}

#hosHomeContent>p[identifier="title"]{
	font-size: 2.7rem;
	line-height: 1.45;
	color: #fff;
}

#hosHomeContent>a[identifier="hosJoinCTA"]{
	font-size: 1.25vw;
	top: 3.5vh;
}

/* overview */
#ovCon{
	background-color: #fff;
    min-height: 80vh;
	padding-bottom: 17vh;
}

#ovContent{
	margin-top: 20vh;
}

#ovContent>p{
	color: #484848;
	letter-spacing: .8;
	max-width: 70%;
	margin-left: 15%;
}

#ovContent>p[type="head"]{
	font-size: 2.3rem;
	line-height: 1.65;
}

#ovContent>p[type="txt"]{
	font-size: 1.5rem;
	line-height: 1.7;
	margin-top: 5vh;
}

#ovContent>p[type="subHead"]{
	line-height: 1.65;
	margin-top: 8vh;
}

#ovContent>p[type="subHead"]>span[type="icon"]{
	font-size: 1.24rem;
	color: #4CD964;
	right: 4px;
	top: 2px;
}

#ovContent>p[type="subHead"]>span[type="txt"]{
	font-size: 1.1rem;
	color: #bbb;
}

/* solution */
#solConCo{
	background-image: url('../../images/hospital/home/15.jpg');
	height: 100vh;
}

#solConLayer{
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,.75), transparent);
    background-image: -moz-gradient(left, rgba(0,0,0,.75), transparent);
    background-image: -o-linear-gradient(left, rgba(0,0,0,.75), transparent);
    background-image: -ms-linear-gradient(left, rgba(0,0,0,.75), transparent);
    background-image: linear-gradient(to right, rgba(0,0,0,.75), transparent);
	height: 100vh;
}

#solContent{
	margin-top: 13vh;
}

#solContent>p[identifier="title"]{
	font-size: 1.8vw;
	color: #f0f0f0;
	letter-spacing: .8px;
	line-height: 1.38;
}

#solContent>p[identifier="subTxt"]{
	font-size: 1.35rem;
	color: #f0f0f0;
	letter-spacing: .8px;
	line-height: 1.5;
	margin-top: 5vh;
}

#solCTA{
	font-size: 1.25rem;
	top: 6vh;
}

/* highlight */
#highlightCon{
	background-color: #000;
    min-height: 80vh;
	padding-bottom: 17vh;
}

#highlightContent{
	margin-top: 24vh;
}

#highlightContent>p{
	color: #f5f5f5;
	letter-spacing: .8;
	max-width: 70%;
	margin-left: 15%;
}

#highlightContent>p[type="head"]{
	font-size: 2.3rem;
	line-height: 1.65;
}

#highlightContent>p[type="txt"]{
	font-size: 1.5rem;
	line-height: 1.7;
	margin-top: 5vh;
}

#highlightContent>p[type="subHead"]{
	font-size: 2.3rem;
	color: #000;
	line-height: 1.65;
	margin-top: 6vh;
}

/* experience */
#experienceConCo{
	background-image: url('../../images/hospital/home/10.jpg');
}

#experienceConLayer{
	background-image: -webkit-linear-gradient(left, rgba(0,0,0,.75), transparent);
    background-image: -moz-gradient(left, rgba(0,0,0,.75), transparent);
    background-image: -o-linear-gradient(left, rgba(0,0,0,.75), transparent);
    background-image: -ms-linear-gradient(left, rgba(0,0,0,.75), transparent);
    background-image: linear-gradient(to right, rgba(0,0,0,.75), transparent);
}

#experienceContent{
	margin-top: 13vh;
}

#experienceContent>p[identifier="title"]{
	font-size: 1.8vw;
	color: #f0f0f0;
	letter-spacing: .8px;
	line-height: 1.28;
}

#experiencePointCo{
	margin-top: 6vh;
}

#experiencePointContent>span{
	font-size: 2.2vw;
	color: #fff;
}

#experiencePointContent>p{
	font-size: .85vw;
	color: #fff;
	line-height: 1.5;
	letter-spacing: .6px;
	margin-top: 2vh;
}

/* joinModal */
#joinModalDialog{
	width: 640px;
	height: 520px;
}

#joinModalBody{
	width: 640px;
    margin-bottom: -.155%;
    margin-top: -2.278%;
}

#joinModalVisualCol{
	padding-left: 0 !important;
	width: 46% !important;
	height: 520px;
}

#joinResultCol{
	padding-left: 0 !important;
	padding-right: 0 !important;
	height: 520px;
	width: 100% !important;
}

#joinModalActionCol{
	padding-left: 0 !important;
	width: 54% !important;
}

#joinModalVisualBG{
	background: url('../../images/hospital/home/19.jpg') center no-repeat;
   	height: 535px;
    z-index: 1;
}

#joinResultBG{
	background: url('../../images/hospital/home/4.jpg') center no-repeat;
   	height: 535px;
    z-index: 1;
}

#joinModalVisualLayer,
#joinResultLayer{
	background: linear-gradient(to top, rgba(0,0,0,1), transparent);
    background-repeat: repeat-x;
    min-height: 535px;
    bottom: 0;
    width: 100%;
    background-position: center center;
    background-size: cover;
    display: block;
	z-index: -1;
}

#joinModalVisualContent{
	padding-top: 40vh;
	padding-left: 30px;
	padding-right: 40px;	
}

#joinModalVisualContent>div[id="header"]{
	border-bottom: 1px solid #f2f2f2;
}

#joinModalVisualContent>div[id="header"]>p[identifier="title"]{
	font-size: 1.8rem;
	color: #fff;
	letter-spacing: .545px;
	padding-bottom: 10px;
}

#joinModalVisualContent>div[id="bullet"]{
	margin-top: 8%;
}

#joinModalVisualContent>div[id="bullet"]>p[identifier="title"]{
	margin-bottom: 8px;
}

#joinModalVisualContent>div[id="bullet"]>p[identifier="title"]>span[identifier="icon"]{
	font-size: 1.3rem;
	color: #FFC400;
}

#joinModalVisualContent>div[id="bullet"]>p[identifier="title"]>span[identifier="text"]{
	font-size: 1.25rem;
	color: #fff;
	left: 6px;
	top: -1.5px;
}

#joinModalActionForm{
	width: 80%;
	margin-top: 10vh;
	margin-left: 10%;
}

#joinModalActionForm>p{
	font-size: 1.4rem;
	color: #000;
}

#joinForm{
	margin-top: 4vh;
}

.formGroup.next{
	margin-top: 2vh;
}

.fgLabel{
	font-size: 1.25rem;
    color: #A1A4AA;
    letter-spacing: 0.6px;
}

.fgInput{
	font-size: 1.3rem !important;
    color: #000 !important;
    margin-top: -1vw;
	box-shadow: rgb(221, 221, 221) 0px -1px 0px inset;
}

.fgComment{
	color: #666;
	top: 8px;
}

.fgSelect{
	font-size: 1.3rem !important;
	color: #000 !important;
    margin-top: -.4vw;
}

#joinCTA{
	font-size: 1.15rem;
    top: 2.0vh;
	border: none !important;
}

#joinResultContent{
	padding-top: 34vh;
}

#joinResultContent>img[type="img"]{
	width: 14%;
	height: auto;
}

#joinResultContentPanel{
	padding-top: 4vh;
	width: 60%;
	margin-left: 20%;
}

#joinResultContentPanel>p[type="head"]{
	font-size: 2.0rem;
	color: #fff;
}

#joinResultContentPanel>p[type="note"]{
	font-size: 1.4rem;
	color: #fff;
	line-height: 1.5;
	padding-top: 3vh;
}