@charset "utf-8";

/*
	MD, SM & XS Screen
*/


@media (min-width: 992px) and (max-width: 1200px) and (orientation:landscape) {
	
	/* Custom Page Scroll-bar CSS */
	.pageScroll::-webkit-scrollbar {
  		width: 6px;
	}

	.pageScroll::-webkit-scrollbar-thumb {
  		-webkit-border-radius: 4px;
  		-moz-border-radius: 4px;
  		border-radius: 4px;
	}
	
	/* menu */
	#homeMenuCol>a>img[identifier="logo"]{
		height: 5.5vh;
	}
	
	#homeMenuLink>p{
		font-size: 1.3vw;
	}
	
	#homeMenuLink>p[identifier="highlightMenu"]>a{
		font-size: 1.06vw;
	}
	
	/* subscribe */
	#subscribeContent>p[identifier="title"]{
		font-size: 2.2vw;
	}
	
	#subscribeContent>p[identifier="subTitle"]{
		font-size: 1.245vw;
		line-height: 1.55;
	}
	
	#subscribeForm{
		margin-top: 3%;
	}
	
	#subscribe_name, #subscribe_email{
		font-size: 1.155vw;
	}
	
	#subscribe_terms{
		font-size: 1.127vw;
	}
	
	#subscribe_terms>a{
		font-size: 1.127vw;
	}
	
	#subscribe_cta>span[identifier="text"]{
		font-size: 1.5vw;
	}
	
	#subscribe_cta>span[identifier="icon"]{
		font-size: 1.6vw;
	}
	
	#subscribeResultContent{
		width: 90%;
		margin-left: 5%;
	}
	
	#subscribeResultContent>p[identifier="title"]{
		font-size: 1.9rem;
	}
	
	#subscribeResultContent>p[identifier="subTitle"]{
		font-size: 1.30rem;
		line-height: 1.45;
	}
	
	#subscribeResult>img{
		width: 20%;
	}
	
	/* footer */
	#footerSocial>p{
		font-size: 1.5rem;
	}
	
	#footerSocial>p>span{
		font-size: 2.0rem;
	}
	
	#footerLinkLogoCol>a>img[identifier="logoSymbol"]{
		height: 3.7vh;
		top: 7px;
	}
	
	#footerLinkGeneral>a{
		font-size: 1.3vw;
	}
	
	#footerLinkContact>p>span[identifier="icon"]{
		font-size: 1.8vw;
	}
	
	#footerLinkContact>p>span[identifier="text"]{
		font-size: 1.3vw;
		top: -4.7px;
	}
	
	#footerNote>p{
		font-size: .97vw;
		margin-bottom: .7%;
	}
	
}

@media (min-width: 768px) and (max-width: 992px) {
	
	/* Custom Page Scroll-bar CSS */
	.pageScroll::-webkit-scrollbar {
  		width: 6px;
	}

	.pageScroll::-webkit-scrollbar-thumb {
  		-webkit-border-radius: 4px;
  		-moz-border-radius: 4px;
  		border-radius: 4px;
	}
	
	/* menu */
	#homeMenuCol>a>img[identifier="logo"]{
		height: 5.5vh;
	}
	
	#homeMenuLink>p{
		font-size: 1.3vw;
	}
	
	#homeMenuLink>p[identifier="highlightMenu"]>a{
		font-size: 1.06vw;
	}
	
	/* subscribe */
	#subscribeContent>p[identifier="title"]{
		font-size: 2.2vw;
	}
	
	#subscribeContent>p[identifier="subTitle"]{
		font-size: 1.245vw;
		line-height: 1.55;
	}
	
	#subscribeForm{
		margin-top: 3%;
	}
	
	#subscribe_name, #subscribe_email{
		font-size: 1.155vw;
	}
	
	#subscribe_terms{
		font-size: 1.127vw;
	}
	
	#subscribe_terms>a{
		font-size: 1.127vw;
	}
	
	#subscribe_cta>span[identifier="text"]{
		font-size: 1.5vw;
	}
	
	#subscribe_cta>span[identifier="icon"]{
		font-size: 1.6vw;
	}
	
	#subscribeResultContent>p[identifier="title"]{
		font-size: 2.25rem;
	}
	
	#subscribeResultContent>p[identifier="subTitle"]{
		font-size: 1.35rem;
		line-height: 1.55;
	}
	
	#subscribeResult>img{
		width: 14%;
	}
	
	/* footer */
	#footerSocial>p{
		font-size: 1.5rem;
	}
	
	#footerSocial>p>span{
		font-size: 2.0rem;
	}
	
	#footerLinkLogoCol>a>img[identifier="logoSymbol"]{
		height: 3.7vh;
		top: 7px;
	}
	
	#footerLinkGeneral,
	#footerLinkContact{
		margin-left: 0;
	}
	
	#footerLinkGeneral>a{
		font-size: 1.3vw;
	}
	
	#footerLinkContact>p>span[identifier="icon"]{
		font-size: 1.8vw;
	}
	
	#footerLinkContact>p>span[identifier="text"]{
		font-size: 1.3vw;
		top: -4.7px;
	}
	
	#footerNote>p{
		font-size: .97vw;
		margin-bottom: .7%;
	}
	
}

/* XS Screen */
@media screen and (max-width: 768px) {
	
	/* menu */
	#homeMenuRow{
		margin-top: 2vh;
	}
	
	#homeMenuCol>a>img[identifier="logo"]{
		height: 5.5vh;
		width: auto;
	}
	
	/* subscribe */
	#subscribeContent>p[identifier="title"]{
		font-size: 2.3rem;
		line-height: 1.2;
	}

	#subscribeContent>p[identifier="subTitle"]{
		font-size: 1.15rem;
		width: 86%;
		margin-left: 7%;
		margin-top: 5%;
	}
	
	#subscribeForm{
		width: 70%;
		margin-left: 15%;
		margin-top: 4%;
	}

	#subscribe_name,
	#subscribe_email{
		font-size: 1.2rem;
		height: 34px;
	}
	
	#subscribe_terms{
		font-size: 1.0rem;
		line-height: 1.4;
		margin-top: 7.5%;
	}

	#subscribe_terms>a{
		font-size: 1.0rem;
	}
	
	#subscribe_cta{
		margin-top: 6.5%;
	}
	
	#subscribe_cta>span[identifier="text"]{
		font-size: 1.5rem;
	}

	#subscribe_cta>span[identifier="icon"]{
		font-size: 1.6rem;
		top: 3.0px;
	}
	
	#subscribe_cta>img[identifier="loader"]{
		width: 12%;
		height: 12%;
		top: -2px;
	}
	
	/* footer */
	#footerLinkGeneral{
		margin-top: 2.5vh;
	}
	
	#footerLinkGeneral>a{
		font-size: 1.2rem;
	}

	#footerLinkGeneral>a[identifier="career"]{
		padding-left: 26px;
	}

	#footerLinkContact{
		padding-top: 1vh;
		margin-left: 2vw;
	}

	#footerLinkContact>p>span[identifier="icon"]{
		font-size: 1.56rem;
	}

	#footerLinkContact>p>span[identifier="text"]{
		font-size: 1.2rem;
		left: 1vw;
		top: -4px;
	}
	
	#footerNote>p{
		font-size: .85rem;
		line-height: 1.45;
		margin-bottom: 1.5%;
	}
	
}